body{
    background-color: tomato;
    overflow-x: scroll;
    width: 3000px;
    padding-left: 40px;
    padding-top: 60px;
    /*cursor:url('rdtop.png');*/
}

.russian-doll {
    display: inline-block;
}

.position1 {
    width: 500px;
    height:500px;
   
}

.position2 {
    width: 440px;
    height: 440px;
}

.position3 {
    width: 350px;
    height: 350px;
}

.position4 {
    width: 270px;
    height: 270px;
}
 
.position5 {
    width: 195px;
    height: 195px;
}


.position6 {
    width: 110px;
    height: 110px;
}

