body {
    background-color:lightpink;
    margin-left:350px;
    margin-top:100px;
    margin-right:350px;
                
}


.circle {
        text-align: center;
        background-color:olive;
        color:lightsteelblue;
        font-weight: bold;
        font-family: ArialRoundedMTBold;
        line-height:300px;
        font-size:10px;
        width: 300px;
        height:300px;
        border-radius:100% ;
     
}

.circle:hover{
    text-align: center;
    background-color:#DB7093;
    width:500px;
    height:500px;
    font-size:20px;
    line-height: 500px;
    border-radius:100%;
}

p { height:32px;
    width: 540px;
    font-family:futura;
    text-align: center;
    font-weight:bold;
    background-color: white;
    color:tomato;
    font-size:30px;
    
}


ul {height: 128px;
    width:500px;
    background-color:white;
    font-family:ArialRoundedMTBold,sans-serif;}
            
a { color: pink;
    
}
