body {
    background-color: yellow;
}
p {
    color: red;
    font-size: 60px;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-serif;
    background-color: purple;
    width: 200px;
    margin: 100px;
    padding: 40px;
} 

.special {
    color: white;
}

#first {
    color: green;
}