body {
    background-color:#556B2F;
}

p:hover { background-color:#556B2F;


.pop {
    position: absolute;
   display:block;
   width:150px;
   height: 200px;
   background-color: #FFB6C1;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    transition: all 2s;
    top:35%;
    left:45%;
    animation-name: example;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

.pop:hover {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transition: all 2s;
    background-color: red;
    line-height: 300px;
    color: white;
}


@keyframes example {
    0% {
        top:90%;
        left:45%;
        
    }
    20% {
        top:75%;
        left:55%;
        background-color:#F0E68C;
    }
    30% {
        top:55%;
        left:35%;
        background-color:#FFDAB9;
    }
    40% {
        top:45%;
        left:55%;
        background-color:#F08080;
    }
    50% {
        top:35%;
        left:45%;
    }
    55% {
       background-color:#FFB6C1;
    }
    60% {
        background-color:lightblue;
    }
    65% {

        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    70% {top:45%;
        left:55%;
        background-color:#F08080;
    }
    75% {top:55%;
        left:35%;
        background-color:#FFDAB9;
    }
    80% { top:75%;
        left:55%;
        background-color:#F0E68C;
    }
       
    


}


.outer {
  position: absolute;
  
}
.left {
  top:0;
  left:0;
  width: 50px;
  overflow: hidden;
  animation-name: crack;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.right {
  top:0;
  left:50px;
  width: 50px;
  height: 150px;
  overflow: hidden;
    animation-name: crack2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}


.egg {
   height:150px;
  width: 100px;
  background-color: black;
  border-radius: 100%;
}

.rightegg {
  position: absolute;
  top:0;
  left: -50px;
}

@keyframes crack {
  from {
    left:0;
    transform: rotate(0deg);
  }
  to {
    left: -20px;
    transform: rotate(20deg);
  }
  
}

@keyframes crack2 {
  from {
    left:50px;
    transform: rotate(0deg);
  }
  to {
    left: 70px;
    transform: rotate(-20deg);
  }
  
}

