body {
    background-color:#556B2F;
}

div {
     position: relative;
     -webkit-animation: mymove 4s;  
     -webkit-animation-iteration-count: 5; 
     animation: mymove 4s;
     animation-iteration-count: 5;
}

            @-webkit-keyframes mymove {
                from {
                    top: 0px;
                    
                }
                to {
                    top: 200px;
                    
                }
            }

            @keyframes mymove {
                from {
                    top: 0px;
                    
                }
                to {
                    top: 500px;
                    
                }
            }
         
         

.egg {
   display:block;
   width: 126px;
   height: 180px;
   background-color: #FFB6C1;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;

    }

.egg:active {
            width: 100px;
            height: 100px;
            background: #20B2AA;
            position: relative;
            
}



.pop {
    position: absolute;
   display:block;
   width: 126px;
   height: 180px;
   background-color: #FFB6C1;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    transition: all 2s;
}

.pop:hover {
    z-index:1; 
    
}


.one {
    top: 40px;
    left: 40px;
    background-color: #D8BFD8;
    animation-name: myegg;
    animation-duration: 2s;

}

@keyframes myegg {
    from {
        top: 40px;
    }
    to {
        top: 600px;
    }
    to {
        top:600px;
    }
    
    from {
        top:40px;
    }
}

.two {
    top: 80px;
    left: 80px;
    background-color: #DB7093;
    animation-name: myegg;
    animation-duration: 2s;
}

.three {
    top: 120px;
    left: 120px;
    background-color: 	#FA8072;
animation-name: myegg;
    animation-duration: 2s;
}

.four {
    top: 160px;
    left: 160px;
    background-color: 	#ADD8E6;
}

.one1 {
    top: 200px;
    left: 200px;
    background-color: #D8BFD8;

}

.two1 {
    top: 240px;
    left: 240px;
    background-color: #DB7093;
    
}

.three1 {
    top: 280px;
    left: 280px;
    background-color: 	#FA8072;

}

.four1 {
    top: 320px;
    left: 320px;
    background-color: 	#ADD8E6;
}

.one2 {
    top: 360px;
    left: 360px;
    background-color: #D8BFD8;

}

.two2 {
    top: 400px;
    left: 400px;
    background-color: #DB7093;
    
}

.three2 {
    top: 440px;
    left: 440px;
    background-color: 	#FA8072;

}

.four2 {
    top: 480px;
    left: 480px;
    background-color: 	#ADD8E6;
}


.one3 {
    top: 520px;
    left: 360px;
    background-color: #D8BFD8;

}

.two3 {
    top: 560px;
    left: 560px;
    background-color: #DB7093;
    
}

.three3 {
    top: 600px;
    left: 600px;
    background-color: 	#FA8072;

}

.four3 {
    top: 640px;
    left: 640px;
    background-color: 	#ADD8E6;
}


