.body{
    background-color:black;
}

.go{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    transition: background-color 1.8s ease-out;
    z-index: -1;
   ;
    
 
    
}

.cat {
    width: 100px;
    height: 100px;

    
}

.images {
    position: absolute;

    z-index: 1;
    
}

.images img {
    margin: 20px;
    vertical-align: middle;
}


.pic {
    position: absolute;
    width: 100px;
    height: 100px;

}
